* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin: 47px 0 80px 42px;
}

main {
    height: 600px;
}

.text-home {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    margin-right: 32px;
    color: #17233D;
    cursor: pointer;
    letter-spacing: 0.88px;
}

button {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    font-size: 16px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}

img {
    width: 595.19px;
    height: 500px;
    margin-left: 80px;
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}

.text-main {
    display: inline-block;
    width: 582px;
    margin-left: 85px;
}

@media (max-width: 750px) {

    .text-home {
        display: none;
    }

    img {
        width: 312px;
        height: 288px;
        margin-left: 130px;
        margin-bottom: 50px;
    }

    h1 {
        width: 278px;
        height: 60px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.5961538553237915px;
        text-align: center;
    }

    p {
        width: 304px;
        height: 165px;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
    }

    a {
        width: 112px;
        height: 27px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 1px;
        margin-left: 90px;
    }

    header {
        margin-left: 300px;
        margin-top: 20px;
        margin-bottom: 150px;
    }

    .text-main {
        margin-left: 140px;
    }

}